@font-face {
  font-family: 'Ubuntu';
  src: url('../ubuntu/Ubuntu-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight : normal;
  margin-top: 10px;
  letter-spacing: -1px;
}

h1 { 
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  margin-bottom : 0.2em;
  font-size : 3em; /* 96 / 16 */
  line-height : 1.4;
}
  
body { 
  color: #fff;
  font-family: 'Ubuntu', sans-serif; 
  background-color: #000;
}
